img {
    height: 350px;
    width: 400px;
}

nav {
    font-size: 16px;
    background: #000;
    color: white;
    padding: 5px 20px;
}


body {
    color: black;
    background: url(1.jpg);
    background-size: cover;
}